doctype html
html
    head
        meta(charset='utf-8')
        title Eagle Eye Speed Reading
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

    body
        article.container
            h1 Eagle Eye
            p Eagle eye is a project I originally started back in 2004 as a tool to help improve speed reading. After the advent of Squirt and Spritz, and finally finding an open source Zethos (https://github.com/Zolmeister/zethos), I've decided to try to implement this as a bookmarklet much like Squirtz.

            p This is mostly for my own education and amusement. If you find this is helpful and cool, awesome. Just don't sue me or anything.

            h2 Install
            p Drag the following to your bookmarks to install. Click on it to try it out.

            a(href='javascript:' + code) Bookmarklet
